__pycache__/spectra_traits.cpython-36.pyc
__pycache__/profit.cpython-37.pyc
__pycache__/reband.cpython-37.pyc
__pycache__/spectra.cpython-37.pyc
__pycache__/__init__.cpython-37.pyc
__pycache__/spectra.cpython-36.pyc
__pycache__/spectra_traits.cpython-36.pyc
__pycache__/spectra_traits.cpython-37.pyc
__pycache__/labin.cpython-36.pyc
__pycache__/labin.cpython-37.pyc
__pycache__/labin3d.cpython-37.pyc
__pycache__/labrc.cpython-36.pyc
__pycache__/labrc.cpython-37.pyc
JN_setup.txt
__pycache__/comband.cpython-37.pyc
__pycache__/my_editors.cpython-37.pyc
__pycache__/labrc.cpython-37.pyc
__pycache__/labrc.cpython-36.pyc
__pycache__/labrc.cpython-36.pyc
